body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: #00adcb;
    background: linear-gradient(151deg, #76b1dd 0%, #2f4f7d 100%);
    position: relative;
}

.background {
    height: 100vh;
    background-image: url(../img/rock.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(20px);
  }

.container {
    display: inline-block;
    width: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.left-column {
    width: 40%;
    padding: 40px;
    background-color: orchid;
    background-image: url(../img/rock.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 40px;
    bottom: 40px;
}

.main-title {
    display: inline-block;
    width: 100%;
    color: white;
    font-weight: 40;
    font-size: 40px;
    text-transform: capitalize;
    font-family: Calibri Light;
}

.bottom-links {
    display: inline-block;
    width: 100%;
    color: white;
    position: absolute;
    bottom: 20px;
    left: 40px;
    right: 40px;
}

.link {
    color: white;
}

.symbol {
}

.right-column {
    width: 60%;
    float: right;
    padding: 60px;
    background-color: white;
}

.close {
    display: inline-block;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 30px;
    text-align: center;
    line-height: 54px;
    color:#AEB6BF;
}

.form-row > span {
    display: inline-block;
    padding: 11px;
    margin-left: 11px;
    line-height: 20px;
    font-size: 18px;
    color: #85929E;
}

.form-row > a {
    display: inline-block;
    padding: 10px;
    line-height: 20px;
    font-size: 15px;
    text-decoration: none;
    color: #08A5FF;
  }

.form-row > a:hover {
    text-decoration: underline;
    font-size: 17px;
}

#forgot {
    margin-top: -24px;
}